body{
    background-color:rgb(245, 82, 109);

    }
    
    
     h1{
    color:beige;
    font-size: 50px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-align:center;
    }
    p{
    color:red ;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size :30px;
    text-align: center; 
    }
p{
color: aqua;
font-family: 'Courier New', Courier, monospace;
font-size: 30px; 
text-align: center;

}